.block_red,
.block_green,
.block_yellow,
.block_black,
.block_blue {
  height: 200px;
  width: 20%;
}
.block_red {
  background-color: red;
}
.block_green {
  background-color: green;
  position: relative;
  top: -200px;
  left: 304px;
}
.block_blue {
  background-color: blue;
  position: relative;
  top: -400px;
  left: 608px;
}
.block_yellow {
  background-color: yellow;
  position: relative;
  top: -600px;
  left: 911px;
}
.block_black {
  background-color: black;
  position: relative;
  top: -800px;
  left: 1214px;
}
